@import '../../../variables';

.incidences-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px;
    gap: 14px;
    height: 90vh;

    .greetings {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: flex-start;

        button {
            display: flex;
            padding: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: $neutrosneutro-2-cards;
            color: $secundariosnegro;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
        }

        .incidences-title {
            color: $secundariosnegro;
            font-family: $heading-heading-m-font-family;
            font-size: 12px;
            font-style: $heading-heading-m-font-style;
            font-weight: $heading-heading-m-font-weight;
            letter-spacing: $heading-heading-m-letter-spacing;
            line-height: $heading-heading-m-line-height;
            width: 309px;
        }

        .created-date {
            color: $secundariosnegro;
            font-family: "Clash Grotesk-Regular", Helvetica;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 22px;
            text-decoration: underline;
            white-space: nowrap;
            text-align: end;
        }
    }

    .status-content {
        height: 40vh;
        display: flex;
        flex-direction: row;
        position: sticky;
        bottom: 0;
        justify-content: center;
        gap: 30px;
        margin: 3vh 5vh 5vh 5vh;

        .status-bar {
            width: 4px;
            height: 100%;
            background-color: white;
            border-radius: 2px;
            overflow: hidden;

            .progress {
                height: 4px;
                width: 100%;
                background-color: $primariosgranate;
                transition: width 0.3s ease-in-out;
                border-radius: 2px;
            }

            .dot {
                position: absolute;
                display: flex;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $primariosgranate;
                transform: translate(-35%, -50%);
            }
        }

        .status-stage {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5.4%;

            p {
                color: $neutrosneutro-3-tipografia;
                display: -webkit-box;
                font-family: "Clash Grotesk-Regular", Helvetica;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .highlighted-status {
                color: $primariosgranate;
            }
        }
    }
}