#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: start;
}

ul li {
  list-style: none;
}

/* footer,
header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 1em;
} */

footer {
  bottom: 0;
  border-top: 1px solid gray;
  /* background-color: var(--clr-bg-1); */
  margin-top: 0.6em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

header {
  top: 0;
  border-bottom: 1px solid gray;
  padding-bottom: 0.6em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
}

main {
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--clr-txt-2);
}

input,
textarea,
select {
  background-color: var(--clr-bg-4);
  border-radius: 16px;
  outline: none;
  border-color: transparent;
  color: var(--clr-txt-2);
  padding: 14px 19px;
  width: 361px;
}

input {
  height: 40px;
}

textarea {
  font-family: 'Inter', sans-serif;
}