#root {
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  text-align: start;
}

ul li {
  list-style: none;
}

footer {
  bottom: 0;
  border-top: 1px solid gray;
  margin-top: 0.6em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
}

main {
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--secundariosnegro);
}

input,
textarea,
select {
  background-color: var(--neutrosneutro-2-cards);
  border-radius: 16px;
  outline: none;
  border-color: transparent;
  color: var(--secundariosnegro);
  padding: 0 19px;
  width: 361px;
  height: 40px;
}

input {
  height: 40px;
}

textarea {
  padding: 14px 19px;
  font-family: 'Inter', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 200px;
}

.greetings h2 {
  color: var(--primariosgranate);
  font-family: var(--heading-heading-l-font-family);
  font-size: var(--heading-heading-l-font-size);
  font-style: var(--heading-heading-l-font-style);
  font-weight: var(--heading-heading-l-font-weight);
  letter-spacing: var(--heading-heading-l-letter-spacing);
  line-height: var(--heading-heading-l-line-height);
  width: 361px;
  /* margin-bottom: 24px; */
}

.greetings p {
  color: var(--secundariosnegro);
  font-family: var(--body-body-l-font-family);
  font-size: var(--body-body-l-font-size);
  font-style: var(--body-body-l-font-style);
  font-weight: var(--body-body-l-font-weight);
  letter-spacing: var(--body-body-l-letter-spacing);
  line-height: var(--body-body-l-line-height);
  text-transform: capitalize;
}



.building-check-header {
  color: var(--secundariosnegro);
  font-family: var(--heading-heading-m-font-family);
  font-size: var(--heading-heading-m-font-size);
  font-style: var(--heading-heading-m-font-style);
  font-weight: var(--heading-heading-m-font-weight);
  letter-spacing: var(--heading-heading-m-letter-spacing);
  line-height: var(--heading-heading-m-line-height);
}

.card {
  background-color: var(--neutrosneutro-2-cards);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  gap: 10px;
  height: 112px;
  justify-content: center;
  width: 361px;
}

.card h5 {
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
}

.card .card-details {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between
}

.progress-bar {
  width: 327px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.container {
  content: "";
}

.container-header {
  display: inline-flex;
  height: 37px;
  width: 180px;
  border-bottom: 1px solid gray;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-bottom: 8px;
}

nav .active {
  border-bottom: 1px solid black;
}

nav .active p {
  background-color: black;
  color: white;

}

.container-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: .5px solid black;
  background-color: white;
  color: black;
  height: 20px;
  width: 20px;
  font-family: var(--labels-label-2-font-family);
  border-radius: 50%;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
}

.container-header h4 {
  color: var(--secundariosnegro);
  font-family: var(--labels-label-2-font-family);
  font-size: var(--labels-label-2-font-size);
  font-style: var(--labels-label-2-font-style);
  font-weight: var(--labels-label-2-font-weight);
  letter-spacing: var(--labels-label-2-letter-spacing);
  line-height: var(--labels-label-2-line-height);
  white-space: nowrap;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-y: auto;
  height: 373px;
  position: absolute;
  bottom: 0;
}