#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: start;
}

ul li {
  list-style: none;
}

/* footer,
header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 1em;
} */

footer {
  bottom: 0;
  border-top: 1px solid gray;
  /* background-color: var(--clr-bg-1); */
  margin-top: 0.6em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* header {
  top: 0;
  border-bottom: 1px solid gray;
  padding-bottom: 0.6em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
} */

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
}

main {
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--secundariosnegro);
}

input,
textarea,
select {
  background-color: var(--neutrosneutro-2-cards);
  border-radius: 16px;
  outline: none;
  border-color: transparent;
  color: var(--secundariosnegro);
  padding: 0 19px;
  width: 361px;
  height: 40px;
}

input {
  height: 40px;
}

textarea {
  padding: 14px 19px;
  font-family: 'Inter', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 48%;
  padding: 16px;
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.greetings h2 {
  color: var(--primariosgranate);
  font-family: var(--heading-heading-l-font-family);
  font-size: var(--heading-heading-l-font-size);
  font-style: var(--heading-heading-l-font-style);
  font-weight: var(--heading-heading-l-font-weight);
  letter-spacing: var(--heading-heading-l-letter-spacing);
  line-height: var(--heading-heading-l-line-height);
}

.building-check {
  position: absolute;
  overflow-y: auto;
  bottom: 0;
  height: 50vh;
}

.building-check-header {
  color: var(--secundariosnegro);
  font-family: var(--heading-heading-m-font-family);
  font-size: var(--heading-heading-m-font-size);
  font-style: var(--heading-heading-m-font-style);
  font-weight: var(--heading-heading-m-font-weight);
  letter-spacing: var(--heading-heading-m-letter-spacing);
  line-height: var(--heading-heading-m-line-height);
}

.card {
  /* width: 100%; */
  background-color: var(--neutrosneutro-2-cards);
  /* border: 1px solid black; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  gap: 10px;
  height: 112px;
  justify-content: center;
  width: 361px;
}

.card h5 {
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
}

.card .card-details {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between
}

.progress-bar {
  width: 327px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.container {
  content: "";
  /* padding: 0 16px; */
}

.container-header {
  display: inline-flex;
  height: 37px;
  width: 180px;
}

.container-header .active {
  border-bottom: 1px solid black;
}

.container-header p {
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 8px;
}