@import "../../../variables";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text-not-found {
    text-align: center;
    h1 {
      color: $primariosgranate;
      font-family: $heading-heading-l-font-family;
      font-size: $heading-heading-l-font-size;
      font-style: $heading-heading-l-font-style;
      font-weight: $heading-heading-l-font-weight;
      letter-spacing: $heading-heading-l-letter-spacing;
      line-height: $heading-heading-l-line-height;
      width: 361px;
    }
  }
}
